<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/head :: headload}"></th:block>
  <title>Quiz Manager</title>
</head>
<body class="app sidebar-mini">
<th:block th:replace="fragments/teacher_sidebar :: sidebar"></th:block>

<main class="app-content">
  <div class="app-title d-flex align-items-center justify-content-between" style="position: sticky; top: 52px; z-index: 1020">
    <div>
      <h1><i class="bi bi-file-earmark-text"></i> <span th:text="${quiz.quizName}"></span></h1>
    </div>
    <div class="d-flex align-items-center">
      <span class="me-3"><strong>Questions:</strong> <span th:text="${quiz.quantity}"></span></span>

      <div th:if="${only_see == null}">
        <button class="btn btn-primary me-2" th:onclick="'location.href=\'/quiz/manager?method=edit&quizid=' + ${quiz.quizId} + '\''">
          <i class="bi bi-pencil-square"></i> Update
        </button>
        <button class="btn btn-danger" th:onclick="'location.href=\'/quiz/manager?method=remove&quizid=' + ${quiz.quizId} + '\''">
          <i class="bi bi-trash"></i> Remove
        </button>
      </div>
    </div>
  </div>

  <div class="row" style="pointer-events: none">
    <div class="tile">
      <div class="tile-body">
        <div th:each="question, index : ${quiz.questions}">
          <div class="tile mt-3">
            <div class="tile-body">
              <h5 class="fw-bold">Question <span th:text="${index.index + 1}"></span>:</h5>
              <input type="text"
                     class="form-control mb-3 fw-bold"
                     th:value="${question.content}" />
              <div th:each="choice : ${question.choices}">
                <div class="d-flex align-items-center mt-2 choice-item">
                  <input type="text"
                         class="form-control me-2"
                         th:value="${choice.choiceContent}"
                         th:style="${choice.isCorrectChoice} ? 'border: 2px solid darkgreen !important' : ''"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{fragments/jsload :: jsload}"></div>
</body>
</html>
